<div class="container">
  <header class="border-bottom lh-1 py-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand mx-auto" href="#">
         <h1>Take Five Sports</h1>
         <h8><em>highlights, standings, and news</em></h8></a>
      </div>
    </nav>
  </header>

<div class="nav-scroller py-1 mb-3 border-bottom">
  <nav class="nav nav-underline justify-content-between">
    <%= link_to "MLB", mlb_path, class: "nav-item nav-link link-body-emphasis #{'active' if current_page?(mlb_path)}" %>
    <%= link_to "MLS", mls_path, class: "nav-item nav-link link-body-emphasis #{'active' if current_page?(mls_path)}" %>
    <%= link_to "NBA", nba_path, class: "nav-item nav-link link-body-emphasis #{'active' if current_page?(nba_path)}" %>
    <%= link_to "NFL", nfl_path, class: "nav-item nav-link link-body-emphasis #{'active' if current_page?(nfl_path)}" %> 
    <%= link_to "NHL", nhl_path, class: "nav-item nav-link link-body-emphasis #{'active' if current_page?(nhl_path)}" %>
  </nav>
</div>



</nav>